.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  width: 1000px;
  height: 300px;
  cursor: pointer;
}


body {
  background-image: url("./images/stars.gif");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-repeat: repeat;
  padding-top: 100px;
}

.title {
  color: #ffffffff;
  text-align: center;
  margin: 0;
  font-size: calc(3vw + 5px);
  text-shadow: 0 0 10px purple, 0 0 10px blue, 0 0 10px purple;
  font-family: 'Starjedi', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 

}

.points {
  color: #ffffffff;
  text-align: center;
  margin: 5vh auto;
  font-size: calc(0vw + 20px);
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
  font-family: 'HyperSuperRegular', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  position: flex;
  left: 0;
}


@font-face {
  font-family: 'Starjedi';
  src: 
  url('Starjedi.woff2') format('woff2'), 
  url('Starjedi.woff') format('woff'),
  url('Starjedi.ttf') format('truetype');
}

.name {
  font-size: calc(0vw + 30px);
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
  text-align: center;
  color: #ffffffff;
  background-color: #004AAD;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 40vh auto;
  position:flex;
  font-family: 'Starjedi', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
}

#selection {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5vh auto;
}

#player{
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  margin: 5vh auto;
}

.active {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0 0 50px white;
}
